@model ChangeRoles
@{
    ViewData["Title"] = "Change Role";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">@ViewData["Title"]</h1>
        <div class="titles">
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <form asp-controller="Membership" asp-action="SubmitChangeRole" method="post">
                <article class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Change member roles</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" disabled />
                        </div>
                        <div class="table-responsive">
                            <table id="example" class="table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="60%">Role Name</th>
                                        <th width="40%">Is Role Registered</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="badge badge-success">Todo</label>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <label class="custom-checkbox variation3 mb-0">
                                                    <input asp-for="IsTodoRegistered" class="form-check-input" />
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="badge badge-success">Membership</label>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <label class="custom-checkbox variation3 mb-0">
                                                    <input asp-for="IsMembershipRegistered" class="form-check-input" />
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="badge badge-success">Role</label>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <label class="custom-checkbox variation3 mb-0">
                                                    <input asp-for="IsRoleRegistered" class="form-check-input" />
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/Membership/Index" class="btn btn-default">Back</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </article>
            </form>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

