<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Nice Theme - @ViewData["Title"] </title>
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/assets/vendor/toastr/toastr.min.css" />
    @RenderSection("Styles", required: false)

    <!-- ================== APP CSS START ================== -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- ================== APP CSS END ================== -->

</head>
<body>
    <!-- Wrapper Start -->
    <div id="wrapper">
        @await Html.PartialAsync("_Header")
        <!-- Content Wrapper Start -->
        <div class="main-wrapper" id="main-wrapper">
            @await Html.PartialAsync("_Navigation")
            <!-- Main Start -->
            <main>
                @RenderBody()
                @await Html.PartialAsync("_Footer")
            </main><!-- Main End -->
        </div><!-- Content Wrapper End -->
    </div><!-- Wrapper End -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/vendor/jQuery/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendor/toastr/toastr.min.js"></script>
    <!--[if lt IE 9]>
      <script src="~/assets/vendor/html5shiv/js/html5shiv.js"></script>
      <script src="~/assets/vendor/respondjs/js/respond.min.js"></script>
    <![endif]-->
    <script src="~/assets/js/app.js"></script>
    <!-- ================== END BASE JS ================== -->
    <script type="text/javascript">
        $(document).ready(function () {
            var message = $("#StatusMessage").text();
            if (message) {
                if (message.includes("Error")) {
                    //error
                    toastr.error(message);
                } else {
                    //success
                    toastr.success(message)
                }
            }
        });
    </script>
    @RenderSection("Scripts", required: false)

    
</body>
</html>